@model PersonDto


<h1>Wyświetlenie informacji o osobie</h1>
<p>Imie: @Model.Name </p>
<p class="bg-secondary">
    Nazwisko: @Model.Surname
</p>
<p>
    @Html.DisplayNameFor(x => x.Age): @Html.DisplayFor(x => x.Age)
</p>

@Html.ActionLink("Edytuj dane", "EditPerson", "People", new { person = Model })
@*<a asp-controller="People" asp-action="EditPerson">Edytuj dane</a>*@


